@import 'tailwindcss';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@layer utilities {
  .text-fluid {
    font-size: clamp(50px, 9.5vw, 200px); /* Tamaño mínimo, tamaño fluido, tamaño máximo */
  }
  
  .img-fluid-width{
   width: clamp(160px, 20vw, 180px);
    object-fit: cover;
  }

  .img-fluid-height{
   height: clamp(160px, 20vw, 200px);
  }

}
@theme {
  --animate-iluminacion-logo: iluminacion-logo 3.5s ease-in-out alternate infinite;

@keyframes iluminacion-logo {
  0%   { filter: drop-shadow(0 3px 1px #00f) drop-shadow(0 0 3px #f00) brightness(0.55); }
  25%  { filter: drop-shadow(0 4px 2px #00f) drop-shadow(0 0 4px #f00) brightness(0.6); }
  50%  { filter: drop-shadow(0 5px 4px #00f) drop-shadow(0 0 5px #f00) brightness(0.7); }
  75%  { filter: drop-shadow(0 4px 7px #00f) drop-shadow(0 0 4px #f00) brightness(0.8); }
  100% { filter: drop-shadow(0 3px 9px #00f) drop-shadow(0 0 3px #f00) brightness(1); }
 }

 --animate-spin-slow: spin 5s linear infinite;

 
}